---
layout: default
---

<hero class="hero-section d-flex align-items-left text-white" style="background-image: url('./assets/landing.png'); height: 100vh; background-size: cover; background-position: center;">
    <div class="container">
        <img src="./assets/whitelion.png" alt="Logo" class="img-fluid logo" style="max-width: 170px; padding-top: 40px">
        <h1 class="text-start text-white">COLUMBIA UNIVERSITY</h1>
        <h2 class="text-start text-white">LION DANCE</h2>
        <button class="btn btn-primary" style="margin-left: 180px; 
                                               font-family: 'figtree-semibold', serif, system-ui; 
                                               font-size: 24px;
                                               padding: 15px 50px;
                                               background-color: transparent;
                                               border-color: white;
                                               border: 2px solid white;
                                               border-radius: 2px;">BOOK A SHOW</button>
    </div>
</hero>
  
<div class="social-icons position-fixed d-flex flex-column" style="top: 50%; right: 20px; transform: translateY(-50%); border-left: 1px solid white; padding-left: 20px;">
    <a href="#" class="mb-3"><img src="instagram-icon.png" alt="Instagram" class="icon"></a>
    <a href="#" class="mb-3"><img src="youtube-icon.png" alt="YouTube" class="icon"></a>
    <a href="#" class="mb-3"><img src="facebook-icon.png" alt="Facebook" class="icon"></a>
    <a href="#"><img src="email-icon.png" alt="Email" class="icon"></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>